extends ../../../amma-common/common/views/tab-form

block vars
    - var scope = {controller:'AmmaTagFormMainController', controllerAlias:'ammaTagFormMainController', formName: 'ammaTagMainForm'};;

block title
    | Main

block formContent
    section(layout='column', flex='')
        div(layout='row', flex='')
            +amma-form-item-container(scope)
                +amma-input(scope, 'name', 'Name', null,scope.controllerAlias + '.model._id')(required='', ng-disabled='!!' + scope.controllerAlias + '.id')
                +amma-error-wrapper(scope, 'name')
                    +amma-error-item('required') Please enter name

        div(layout='row', flex='')
            +amma-form-item-container(scope)
                +amma-input(scope, 'title', 'Title')
