extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaTagFormController'
    - var eventName = 'amma.tag.form'
    - var createTitle = 'Create Tag';
    - var editTitle = 'Edit Tag';
