$sidenav-mobile-width: 260px;
$sidenav-desktop-width: 300px;

// import angular material scss
@import "angular-material/angular-material.scss";

body {
    color: #212121;
}

// set template font family
button, select, html, textarea, input {
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// import app scss
@import "scss/material-backgrounds";

// Add your CSS here

.bottom-right{
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index: 100;
}


.md-toast {
    position: absolute;
    z-index: 100000;
}

.triangular-loader {
    z-index: 1000000 !important;
}

.left-padding{
  padding-left: 15px;
}

md-dialog.fullscreen-dialog {
    max-width: 95%;
    width: 95%;
    border-radius: 0;
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
