include ../../../../amma-common/common/views/common

- var scope = {controller:'AmmaOrderFormMainController', controllerAlias:'ammaOrderFormMainController', formName: 'ammaOrderMainForm', childController : 'AmmaOrderFormMainPaymentController', childControllerAlias: 'ammaOrderFormMainPaymentController'};

md-tab(label='Payment')
    md-content
        div(layout='column', flex='', ng-controller = scope.childController + ' as ' + scope.childControllerAlias)
            section
                div(layout='row', layout-align='end center')
                    +amma-button-primary('Add')(ng-click= scope.childControllerAlias + '.add($event)')

                md-table-container
                    table(md-table='')
                        thead(md-head='')
                            tr(md-row='')
                                th(md-column='')
                                    span Id
                                th(md-column='')
                                    span Title
                                th(md-column='')
                                    span Reference
                                th(md-column='') Amount
                                th(md-column='') Actions
                        tbody(md-body='')
                            tr(md-row='', ng-show=scope.controllerAlias + '.model.payment && ' + scope.controllerAlias + '.model.payment.length' , ng-repeat='(key,payment) in ' + scope.controllerAlias + '.model.payment')
                                td(md-cell='') {{payment._id}}
                                td(md-cell='') {{payment.title}}
                                td(md-cell='') {{payment.reference}}
                                td(md-cell='') {{payment.amount||0 | currency}}
                                td(md-cell='')
                                    md-button.md-fab.md-primary.md-raised.md-mini(aria-label='Edit', ng-click=scope.childControllerAlias + '.edit(key,$event)')
                                        md-icon(md-font-icon='fa fa-edit')
                                    md-button.md-fab.md-warn.md-raised.md-mini(aria-label='Delete', ng-click=scope.childControllerAlias + '.remove(key,$event)')
                                        md-icon(md-font-icon='fa fa-times')
                            tr(md-row='', ng-show='!' + scope.controllerAlias + '.model.payment || !' + scope.controllerAlias + '.model.payment.length')
                                td(md-cell='', colspan='5') Currently there are no items
