extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaOrderStatusFormController'
    - var eventName = 'amma.order-status.form'
    - var createTitle = 'Create OrderStatus';
    - var editTitle = 'Edit OrderStatus';
