extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaShippingMethodFormController'
    - var eventName = 'amma.shipping-method.form'
    - var createTitle = 'Create ShippingMethod';
    - var editTitle = 'Edit ShippingMethod';
