extends ../../../amma-common/common/views/tab-content

block vars
    - var scope = {controller:'AmmaFeatureFormItemController', controllerAlias:'ammaFeatureFormItemController'};

block title
    | Options

block tabContent
    div(kendo-grid='', k-options= scope.controllerAlias + '.gridOptions', k-ng-delay=scope.controllerAlias + '.gridOptions')

block tabActions
    +amma-button-primary('Add New')(ng-click= scope.controllerAlias + '.addNew($event)')
    +amma-button-accent('Save')(ng-click= scope.controllerAlias + '.save($event)')
    +amma-button-warning('Close')(ng-click= scope.controllerAlias + '.close($event)')




