include ../../../../amma-common/common/views/common

- var scope = {controller:'AmmaProductOrderFormMainController', controllerAlias:'ammaProductOrderFormMainController', formName: 'ammaProductOrderMainForm', childController : 'AmmaProductOrderFormMainInItemController', childControllerAlias: 'ammaProductOrderFormMainInItemController'};

md-tab(label='In Items')
    md-content
        div(layout='column', flex='', ng-controller = scope.childController + ' as ' + scope.childControllerAlias)
            section
                div(layout='row', layout-align='end center')
                    +amma-button-primary('Add')(ng-click= scope.childControllerAlias + '.add(' + scope.controllerAlias + '.model,$event)')

                md-table-container
                    table(md-table='')
                        thead(md-head='')
                            tr(md-row='')
                                th(md-column='')
                                    span Product Id
                                th(md-column='')
                                    span Product Title
                                th(md-column='')
                                    span SKU
                                th(md-column='')
                                    span QTY
                                th(md-column='') Total Price
                                th(md-column='') Actions
                        tbody(md-body='')
                            tr(md-row='', ng-show=scope.controllerAlias + '.model.inItems && ' + scope.controllerAlias + '.model.inItems.length' , ng-repeat='(key,product) in ' + scope.controllerAlias + '.model.inItems')
                                td(md-cell='') {{product._id}}
                                td(md-cell='') {{product.title}}
                                td(md-cell='') {{product.sku}}
                                td(md-cell='') {{product.qty}}
                                td(md-cell='') {{product.totalPrice.sell|currency}}
                                td(md-cell='')
                                    md-button.md-fab.md-primary.md-raised.md-mini(aria-label='Edit', ng-click=scope.childControllerAlias + '.edit(key, ' + scope.controllerAlias + '.model, $event)')
                                        md-icon(md-font-icon='fa fa-edit')
                                    md-button.md-fab.md-warn.md-raised.md-mini(aria-label='Delete', ng-click=scope.childControllerAlias + '.remove(key, ' + scope.controllerAlias + '.model, $event)')
                                        md-icon(md-font-icon='fa fa-times')
                            tr(md-row='', ng-show='!' + scope.controllerAlias + '.model.inItems || !' + scope.controllerAlias + '.model.inItems.length')
                                td(md-cell='', colspan='6') Currently there are no products
