extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaFeatureFormController'
    - var eventName = 'amma.feature.form'
    - var createTitle = 'Create Feature';
    - var editTitle = 'Edit Feature';
