extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaPaymentMethodFormController'
    - var eventName = 'amma.payment-method.form'
    - var createTitle = 'Create PaymentMethod';
    - var editTitle = 'Edit PaymentMethod';
