extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaProductFormController'
    - var eventName = 'amma.product.form'
    - var createTitle = 'Create Product';
    - var editTitle = 'Edit Product';
