extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaProductOrderFormController'
    - var eventName = 'amma.product-order.form'
    - var createTitle = 'Create ProductOrder';
    - var editTitle = 'Edit ProductOrder';
