extends ../../../amma-common/common/views/tab-form
block vars
    - var scope = {controller:'AmmaUserFormChangePasswordController', controllerAlias:'ammaUserFormChangePasswordController', formName: 'ammaUserChangePasswordForm'};
    - var tabAttributes = {'md-on-select':'','ng-disabled': '!'+scope.controllerAlias+'.eventData.id'}

block title
    | Change Password

block formContent
    section(layout='column', flex='')

        div(layout='row', flex='')
            +amma-form-item-container(scope)
                +amma-input(scope, 'password', 'Password', 'password')(required='')
                +amma-error-wrapper(scope, 'password')
                    +amma-error-item('required') Please enter your password

            +amma-form-item-container(scope)
                +amma-input(scope, 'rePassword', 'Re-enter Password', 'password', scope.controllerAlias + '.model.internal.rePassword' )(required='', match-password='password')
                +amma-error-wrapper(scope, 'rePassword')
                    +amma-error-item('required') Please re-enter your password
                    +amma-error-item('passwordMatch') Password did not match
block formActions
    .amma-dialog-actions
        +amma-form-submit(scope, 'Change Password')
        +amma-form-cancel(scope, 'Cancel')
