extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaOrderFormController'
    - var eventName = 'amma.order.form'
    - var createTitle = 'Create Order';
    - var editTitle = 'Edit Order';
