extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaStoreFormController'
    - var eventName = 'amma.store.form'
    - var createTitle = 'Create Store';
    - var editTitle = 'Edit Store';
