extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaUserFormController'
    - var eventName = 'amma.user.form'
    - var createTitle = 'Create User';
    - var editTitle = 'Edit User';
