include ../../../../amma-common/common/views/common

- var scope = {controller:'AmmaProductOrderFormMainController', controllerAlias:'ammaProductOrderFormMainController', formName: 'ammaProductOrderMainForm', childController : 'AmmaProductOrderFormMainStoreController', childControllerAlias: 'ammaProductOrderFormMainStoreController'};

md-tab(label='Store')
    md-content
        div(layout='column', flex='', ng-controller = scope.childController + ' as ' + scope.childControllerAlias)
            section
                div(layout='row', flex='')
                    +amma-store-autocomplete-full(scope,'searchStore', 'Search Store', scope.childController + '.searchStore')(md-selected-item-change=scope.childControllerAlias + ".storeChange(item, " + scope.controllerAlias + ".model)", flex='', class="md-icon-float")
                        md-icon(md-font-icon='fa fa-search')

                div(layout='row', flex='')
                    +amma-form-item-container(scope)
                        +amma-input(scope, 'storeTitle', 'Store Name', null, scope.controllerAlias + '.model.store.name')(required='')
                        +amma-error-wrapper(scope, 'firstName')
                            +amma-error-item('required') Please enter store name


                div(layout='row', flex='')
                    +amma-form-item-container(scope)
                        +amma-input(scope, 'storeId', 'Store Id', null, scope.controllerAlias + '.model.store._id')(required='', ng-disabled='true')

                    +amma-form-item-container(scope)
                        +amma-input(scope, 'storeEmail', 'Email', 'email', scope.controllerAlias + '.model.store.email')(required='')
                        +amma-error-wrapper(scope, 'storeEmail')
                            +amma-error-item('required') Please enter your Store email

                    +amma-form-item-container(scope)
                        +amma-input(scope, 'storeContactNumber', 'Contact Number', null, scope.controllerAlias + '.model.store.contactNumber')
