extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaUserGroupFormController'
    - var eventName = 'amma.user-group.form'
    - var createTitle = 'Create User Group';
    - var editTitle = 'Edit User Group';
