extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaProductOrderStatusFormController'
    - var eventName = 'amma.product-order-status.form'
    - var createTitle = 'Create ProductOrderStatus';
    - var editTitle = 'Edit ProductOrderStatus';
