extends ../../amma-common/common/views/main-form

block vars
    - var controllerAlias = 'ammaCategoryFormController'
    - var eventName = 'amma.category.form'
    - var createTitle = 'Create Category';
    - var editTitle = 'Edit Category';
